src/main/mule/cicd-conncted-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="281e27e2-873a-49a7-bae7-c236147b36b5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-conncted-applicationFlow" doc:id="ef1db390-e2b7-4c32-aa4b-8bf67731624c" >
		<http:listener doc:name="Listener" doc:id="87f66d55-fbe5-47ee-bce0-5036b1a17cf3" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="ac9ea343-c9df-4ba8-a141-6563e3ab8df6" message="flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="77b48192-ec91-406b-aa05-336165f37cd4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "successfully Deployed",
	"message": "cicd messages output."
}
	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="713dabb2-7c32-44ef-b8a8-41345343dba3" message="#[payload]"/>
	</flow>
</mule>
